:root {
  --main-color: hsla(54, 18%, 97%, 1);
  --bkg-color: hsla(227, 3%, 8%, 1);
  --accent-color: hsla(68, 100%, 80%, 1);
  --grey-bkg-color: hsla(60, 2%, 78%, 1);
}

.main-text, h1, h2 {
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  line-height: 80%;
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.secondary-text, p, a, h3, h4, h5 {
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0;
}

h1 {
  color: var(--accent-color);
  font-size: 8rem;
}

h3 {
  color: var(--accent-color);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

#preloader {
  position: fixed;
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#preloader div:before, #preloader div:after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
}
#preloader div:before {
  background-color: var(--accent-color);
  -webkit-animation: scale-1 2400ms linear infinite;
          animation: scale-1 2400ms linear infinite;
}
#preloader div:after {
  background-color: var(--main-color);
  -webkit-animation: scale-2 2400ms linear infinite;
          animation: scale-2 2400ms linear infinite;
}
@-webkit-keyframes scale-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: 2;
  }
  50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: 2;
  }
  50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scale-2 {
  0%, 50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-2 {
  0%, 50% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.circle {
  width: 100px;
  height: 100px;
  padding: 2px;
  z-index: -100;
  position: fixed;
}

.arrow::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: var(--main-color);
  border-width: 2px 2px 0 0;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.arrow.down::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: -20px 0 0 -15px;
}
.arrow.down::before:hover {
  border-color: var(--bkg-color);
}
.arrow::after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-color: var(--main-color);
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.arrow.down::after {
  width: 0;
  height: 40px;
  border-width: 0 2px 0 0;
  -webkit-transform: translate(0px, -24px);
          transform: translate(0px, -24px);
}
.arrow.down::after:hover {
  border-color: var(--bkg-color);
}
.arrow-container {
  z-index: 300;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 40px;
  height: 100px;
}
.arrow .active::before, .arrow .active::after {
  border-color: var(--bkg-color);
  color: var(--bkg-color);
}

.active {
  background-color: red;
}

.circle {
  /* Effect 2 */
  /* Effect 2b */
}
.circle:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.circle:before {
  speak: none;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.circle.effect:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: var(--accent-color);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.circle.effect:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.magnet {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  background-color: var(--main-color);
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: initial;
}

p {
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

a {
  text-decoration: none;
  cursor: none;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.hidden {
  display: none;
}

header {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vw;
  max-height: 150vw;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 10vw;
  top: 30vh;
  z-index: 0;
}
.categories .categories-items {
  display: inline-block;
}
.categories .categories-items-web {
  display: block;
}
.categories > ul > li > span {
  display: inline-block;
}
.categories > ul > li > h2 {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  display: inline-block;
}
.categories > ul > li > h2:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}
.categories--designer {
  margin-top: 4rem;
  text-transform: lowercase;
  background-color: var(--accent-colour);
}

.message {
  position: relative;
  font-size: 24px;
}
.message-description {
  right: -45vw;
  bottom: 13vh;
  width: 35vw;
  text-align: right;
}
.message-intro {
  bottom: 1rem;
  padding: 0 0.25rem;
}
.message-intro > span {
  text-decoration: underline;
}
.message-intro > span:hover {
  background-color: var(--accent-color);
  text-decoration: none;
}

#graphic:hover + #message-graphic {
  display: block;
  -webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.building {
  width: 60px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.building--container {
  height: 100vh;
  position: fixed;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 200;
}

.floor {
  width: 40px;
  height: 40px;
  position: relative;
  background: var(--accent-color);
  opacity: 0.4;
  -webkit-transform: rotate(135deg) skew(20deg, 20deg);
          transform: rotate(135deg) skew(20deg, 20deg);
  border: none;
  border-radius: 0;
}
.floor--1 {
  top: 0;
  z-index: 204;
}
.floor--2 {
  top: -20px;
  z-index: 203;
}
.floor--3 {
  top: -40px;
  z-index: 202;
}
.floor--4 {
  top: -60px;
  z-index: 201;
}
.floor:hover {
  -webkit-box-shadow: 0px 0px 4px 0px var(--accent-color);
          box-shadow: 0px 0px 4px 0px var(--accent-color);
  opacity: 0.6;
}
.floor:active, .floor .active {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  opacity: 1;
}

.nav {
  padding: 20px;
  width: 100vw;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.nav--top, .nav--bottom {
  position: fixed;
  width: 100%;
}
.nav--top > ul, .nav--bottom > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav--top {
  top: 0px;
}
.nav--bottom {
  bottom: 0px;
}

.single {
  background-color: var(--accent-color);
}

html,
body {
  position: relative;
  height: 100%;
}

#works {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper {
  height: inherit;
}

.slide-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.WorksSwiper .swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.WorksSwiper .swiper-wrapper {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.WorksSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.WorksSwiper .swiper-slide img {
  height: 100%;
  display: block;
  filter: contrast(100%);
  -webkit-filter: contrast(100%);
  -moz-filter: contrast(100%);
  -ms-filter: contrast(100%);
  -o-filter: contrast(100%);
  filter: grayscale(1);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  opacity: 0.35;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: auto;
}
.WorksSwiper .swiper-slide:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.WorksSwiper .swiper-slide:hover img {
  filter: contrast(130%);
  filter: grayscale(0);
  -webkit-filter: contrast(130%);
  -moz-filter: contrast(130%);
  -ms-filter: contrast(130%);
  -o-filter: contrast(130%);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.works--details {
  position: relative;
  top: -250px;
  opacity: 0;
  width: 100px;
  text-transform: uppercase;
  left: 400px;
  font-family: var(--main-font);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.works--details .yellow-600 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: "Inter", sans-serif;
  line-height: 80%;
  font-weight: 600;
  padding-top: 20px;
}
.works--details > p {
  color: var(--main-color);
  font-size: 16px;
  letter-spacing: 2px;
}
.works:hover .works--details {
  opacity: 1;
  left: 520px;
  padding-left: 10px;
  width: 100px;
  text-transform: uppercase;
  font-family: var(--main-font);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.works--info {
  position: absolute;
  opacity: 0;
  top: 300px;
  left: -150px;
  font-family: var(--main-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.works--info > * {
  display: inline-block;
}
.works--info > h2 {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: "Inter", sans-serif;
  line-height: 80%;
  font-weight: 600;
  text-align: right;
  width: auto;
  margin-right: 20px;
}
.works--info > p {
  color: var(--main-color);
  font-size: 16px;
  text-align: left;
  width: 35vw;
}
.works:hover .works--info {
  opacity: 1;
  top: 380px;
  padding-top: 20px;
  font-family: var(--main-font);
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}

.MainSwiper {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

.MainSwiper-slide {
  height: 100vh;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.MainSwiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.MainSwiper .swiper-pagination {
  position: fixed;
  font-size: 0px;
  z-index: 200;
}
.MainSwiper .swiper-pagination-bullet {
  text-align: center;
  line-height: 20px;
  font-size: 0px;
  color: #000;
  width: 40px;
  height: 40px;
  position: relative;
  background: var(--accent-color);
  opacity: 0.4;
  -webkit-transform: rotate(135deg) skew(20deg, 20deg);
          transform: rotate(135deg) skew(20deg, 20deg);
  border: none;
  border-radius: 0;
}
.MainSwiper .swiper-pagination-bullet:hover {
  -webkit-box-shadow: 0px 0px 4px 0px var(--accent-color);
          box-shadow: 0px 0px 4px 0px var(--accent-color);
  opacity: 0.6;
}
.MainSwiper .swiper-pagination-bullet-active, .MainSwiper .swiper-pagination-bullet:focus {
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
  opacity: 1;
}

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
  right: 40px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, -20px) 0;
}

.MainSwiper .swiper-pagination-nav {
  color: var(--main-color);
  font-family: "Inter", sans-serif;
  padding: 20px;
  width: 100vw;
  z-index: 200;
}
.MainSwiper .swiper-pagination-nav .pagination-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}
.MainSwiper .swiper-pagination-nav .pagination-nav .swiper-pagination-bullet {
  width: auto;
  border-radius: 0px;
  height: auto;
  background-color: #fff;
  padding: 5px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.MainSwiper .swiper-pagination-nav .pagination-nav .swiper-pagination-bullet-active {
  color: #fff;
}

.project-header {
  position: relative;
  padding-bottom: 10rem;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 100;
}
.project-header__image {
  -webkit-filter: contrast(130%);
          filter: contrast(130%);
  width: 100vw;
  height: 133.33333vw;
  -o-object-fit: cover;
  object-fit: cover;
}
.project-header__title {
  margin-top: 6rem;
  padding: 0 3.5rem;
  line-height: 1.25;
  word-break: break-all;
}

@media (min-width: 768px) {
  .project-header {
    padding-bottom: 8rem;
  }
}
@media (min-width: 1280px) {
  .project-header {
    padding-bottom: 7rem;
  }
}
.project-header__image {
  width: 100vw;
  height: 133.33333vw;
  -o-object-fit: cover;
  object-fit: cover;
}

@media (min-width: 768px) {
  .project-header__image {
    position: relative;
    z-index: 1;
    width: 65vw;
    height: 86.66667vw;
    margin-left: 17.5vw;
  }
}
@media (min-width: 1280px) {
  .project-header__image {
    position: relative;
    z-index: 1;
    width: 50vw;
    height: 66.66667vw;
    margin-left: 25vw;
  }
}
@media (min-width: 768px) {
  .project-header__title {
    position: absolute;
    top: 35vh;
    left: 0;
    z-index: 2;
    margin-top: 0;
    padding: 0 6rem;
    word-break: normal;
  }
}
@media (min-width: 1280px) {
  .project-header__title {
    top: 50vh;
    width: 100%;
    min-height: 20vh;
    margin-top: 0;
    padding: 0 10vw;
  }
}
.project-description {
  position: absolute;
  display: block;
  padding: 6rem 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .project-description {
    width: 100%;
    padding: 8rem 0;
    z-index: 2;
  }
  .project-description__main {
    width: 50vw;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .project-description {
    padding: 10rem 0;
  }
}
.project-description__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info-column:not(:first-child) {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .info-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info-column:not(:first-child) {
    margin-top: 0;
    margin-left: 5.5rem;
  }
}
.info-column__title {
  color: var(--bkg-color);
}

@media (max-width: 575px) {
  .info-column__title {
    width: 30%;
    line-height: 2.5;
  }
}
.info-column__text {
  margin-left: 4rem;
}
.info-column__text > p {
  color: var(--bkg-color);
}

@media (min-width: 768px) {
  .info-column__text {
    margin-top: 3.6rem;
    margin-left: 0;
  }
}
.slice-infos__title {
  color: var(--bkg-color);
}

.slice-infos__text {
  margin-top: 4rem;
}
.slice-infos__text > p {
  color: var(--bkg-color);
}

.slice-infos__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
}

@media (min-width: 768px) {
  .slice-infos__columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.follow {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: var(--accent-color);
  border-radius: 100%;
  z-index: 1200;
}
.follow-mouse-active {
  display: none;
}

/* CANVAS */
canvas {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media all and (max-width: 600px) {
  .mobileHidden {
    display: none;
  }
}
@media all and (min-width: 600px) {
  .desktopHidden {
    display: none;
  }
}