/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i');



/* CSS RESET */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}



/* MY CSS */

.hidden { display: none; }
.yellow { color: #FFCD00; }
.cols-3 { width: 280px; }
.cols-8 { width: 780px; }

.center
{
    width: 1180px;
    margin: 0 auto; /* 0 arriba y abajo / auto derecha e izquierda */
}

.button
{
    display: block;
    width: 100%;
    margin-top: 160px;
    padding: 10px;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    background: none;
    color: #CCCCCC;
    border: 4px solid #CCCCCC;
    cursor: pointer;
}

.button:hover
{
    color: black;
    border-color: black;
}

.button.noborder
{
    margin-top: 40px;
    padding: 0;
    font-size: 18px;
    color: white;
    border: none;
}

.button.noborder:hover
{
    color: black;
}

body
{
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: black;
}

a
{
    text-decoration: none;
    color: inherit;
    /*
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    */
}

img
{
    padding: 40px;
    border: 4px solid #FFCD00;
}

p img
{
    border: 4px solid #CCCCCC;
}

a:hover img
{
    border-color: #CCCCCC;
}

article img,
section img
{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
}



/* HEADER */

body > header
{
    padding-top: 80px;
    padding-bottom: 40px;
    /* padding: 80px 0 40px 0; Sería la forma para abreviar las dos líneas anteriores */
    background: #FFCD00;
}

body > header div.center
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

body > header h1
{
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 700;
}

body > header h1 a
{
    color: black;
}

body > header nav ul li
{
    display: inline-block;
}

body > header nav ul li + li
{
    margin-left: 40px;
}

body > header nav ul li a:hover
{
    color: white;
}

body > header nav ul li.active a
{
    color: white;
}

body > header nav ul li.action a
{
    font-weight: 700;
    border-bottom: 4px solid white;
    /* Estas serían las 3 propiedades que se sintetizan en la línea anterior
    border-width: 4px;
    border-style: solid;
    border-color: white;
    */
}



/* INTRO */

section.page-intro,
header.page-intro
{
    /* El width y el margin lo toma de la clase center
    width: 1180px;
    margin: 0 auto;
    */
    padding: 160px 0;
}

section.page-intro h1,
header.page-intro h1
{
    margin-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

section.page-intro h1 span,
header.page-intro h1 span
{
    font-size: 48px;
    font-weight: 700;
    color: #FFCD00;
}

section.page-intro p,
header.page-intro p
{
    width: 980px;
    font-size: 36px;
    line-height: 130%;
}



/* EMOJIS */

section.emoji-grid div.flex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 640px)
{
    section.emoji-grid div.flex
    {
        display: block;
    }
}

section.emoji-grid article
{
    width: calc(50% - 10px);
    margin-bottom: 80px;
}

@media (max-width: 640px)
{
    section.emoji-grid article
    {
        max-width: 100%;
        margin-bottom: 80px;
    }
}

section.emoji-grid article > a img
{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

section.emoji-grid article div
{
    margin-top: 40px;
    display: flex;
}

section.emoji-grid article div img
{
    width: 60px;
    margin-right: 20px;
    padding: 0;
    border: none;
}

section.emoji-grid article h1
{
    font-weight: 700;
}

section.emoji-grid article h1 span
{
    display: block;
    font-family: "IBM Plex Serif", Georgia, serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    font-style: italic;
    color: #999999;
}

section.emoji-grid a.button
{
    margin-top: 80px;
}



/* EMOJI INTERPRETATIONS */

article header.no-intro,
section header.no-intro
{
    padding: 120px 0;
}

article header.no-intro.emoji
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

article header.no-intro a
{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFCD00;
}

article header.no-intro a:hover
{
    color: black;
}

article header.no-intro h1,
section header.no-intro h1
{
    margin-top: 20px;
    font-size: 48px;
    line-height: 130%;
    font-weight: 700;
}

article header.no-intro time
{
    font-family: "IBM Plex Serif", Georgia, serif;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #999999;
}

article header.no-intro img
{
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
}

article#emoji-interpretation div.flex
{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article#emoji-interpretation div.author-info
{
    font-size: 18px;
    line-height: 150%;
}

article#emoji-interpretation div.author-info h2
{
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    text-transform: capitalize;
}

article#emoji-interpretation div.author-info a
{
    color: #999999;
}

article#emoji-interpretation div.author-info a:hover
{
    color: black;
}



/* ABOUT */

section#about div.columns
{
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#about div.text h2
{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

section#about div.text p + h2
{
    margin-top: 40px;
}

section#about div.team
{
    font-family: "IBM Plex Serif", Georgia, serif;
    font-size: 18px;
    line-height: 150%;
    font-style: italic;
    text-align: center;
    color: #999999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#about div.team a:hover
{
    color: black;
}

section#about div.team img
{
    margin-bottom: 20px;
    border-radius: 100%;
}



/* BLOG */

section.blog-grid article
{
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.blog-grid article:nth-of-type(2n)
{
    flex-direction: row-reverse;
}

section.blog-grid article header
{
    width: calc(50% - 10px);
    padding: 80px;
    box-sizing: border-box;
    background: #FFCD00;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.blog-grid article header h1
{
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
}

section.blog-grid article header h1 a:hover
{
    color: white;
}

section.blog-grid article header p
{
    font-size: 18px;
    line-height: 150%;
}

section.blog-grid article header time
{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
}

section.blog-grid article header > a
{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: white;
}

section.blog-grid article header > a:hover
{
    color: black;
}

section.blog-grid article figure
{
    width: calc(50% - 10px);
}



/* BLOG POST + SECONDARY PAGE */

article#blog-post div.columns,
section#secondary-page div.columns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article#blog-post h2,
section#secondary-page h2
{
    font-size: 36px;
    font-weight: 700;
}

article#blog-post * + h2,
section#secondary-page * + h2,
article#blog-post * + p,
section#secondary-page * + p
{
    margin-top: 40px;
}

article#blog-post p a,
section#secondary-page p a
{
    text-decoration: underline;
}

article#blog-post p img,
section#secondary-page p img
{
    margin: 80px 0;
}



/* SIDEBAR */

aside div.widget
{
    font-size: 18px;
    line-height: 150%;
}

aside div.widget + div.widget
{
    margin-top: 80px;
}

aside div.widget h6
{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
}

aside div.widget.widget_recent_entries li + li
{
    margin-top: 20px;
}

aside div.widget.widget_nav_menu li + li
{
    margin-top: 10px;
}

aside div.widget a:hover
{
    color: #999999;
}

aside div.widget time,
aside div.widget span.post-date
{
    display: block;
    color: #999999;
}

article#blog-post aside div.widget,
section#secondary-page aside div.widget
{
    padding-top: 40px;
    border-top: 4px solid #FFCD00;
}

article#blog-post aside div#featured-image.widget
{
    margin-top: 10px;
    padding: 0;
    border-top: none;
}

article#blog-post aside div#featured-image.widget + div.widget
{
    padding: 0;
    border-top: none;
}



/* SUBMIT */

form div.field
{
    border-top: 4px solid #FFCD00;
}

form div.field label
{
    display: block;
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #999999;
}

form div.field input[type="text"],
form div.field input[type="email"],
form div.field input[type="url"]
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 20px 0;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    font-size: 36px;
    border: none;
    outline: none;
}

form div.field input[type="submit"]
{
    color: black;
    border-color: black;
}

form div.field input[type="submit"]:hover
{
    color: #CCCCCC;
    border-color: #CCCCCC;
}

form div.field-group
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form div.field-group div.field
{
    width: calc(50% - 10px);
}



/* PREFOOTER*/

section.prefooter
{
    margin-top: 160px;
    padding: 120px 0;
    background: #FFCD00;
}

section.prefooter div.center > h1
{
    margin-bottom: 20px;
    font-family: "IBM Plex Serif", Georgia, serif;
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    font-style: italic;
}

section.prefooter article
{
    padding: 40px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

section.prefooter article + article
{
    border-top: none;
}

section.prefooter article time
{
    font-size: 36px;
    font-weight: 700;
    margin-right: 40px;
}

section.prefooter article h1
{
    display: inline;
    font-size: 36px;
}

section.prefooter article h1 a:hover
{
    color: white;
}



/* FOOTER */

body > footer
{
    padding: 120px 0;
    font-size: 18px;
    line-height: 150%;
    border-bottom: 40px solid #DDDDDD;
}

body > footer ul li
{
    display: inline-block;
}

body > footer ul li + li
{
    margin-left: 40px;
}

body > footer a#copyright
{
    font-size: 24px;
    font-weight: 700;
}

body > footer a#copyright:hover
{
    color: #999999;
}

body > footer div#footer-menu
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

body > footer div#footer-menu ul a:hover
{
    color: #999999;
}

body > footer div#footer-social
{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 4px solid #FFCD00;
}

body > footer div#footer-social a
{
    color: #999999;
}

body > footer div#footer-social a:hover
{
    color: black;
}



/* 404 */

html, body
{
    height: 100%;
}

body.error404
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.error404 > img
{
    box-sizing: border-box;
    width: auto;
    height: auto;
    max-width: 580px;
    max-height: 580px;
    border-radius: 100%;
}

body.error404 div h1
{
    margin-top: 40px;
    font-size: 36px;
    font-weight: 700;
}

body.error404 div h1 span
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #999999;
}

body.error404 div img
{
    width: 60px;
    margin-top: 20px;
    padding: 0;
    border: none;
}



/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media (max-width: 1280px)
{
    .center
    {
        width: 1024px;
    }
}

@media (max-width: 1180px)
{
    .center
    {
        width: 960px;
    }

    section.page-intro p,
    header.page-intro p
    {
        width: 800px;
        font-size: 30px;
        line-height: 130%;
    }
}


@media (max-width: 640px)
{
    section.emoji-grid div.flex
    {
        display: block;
    }

    section.emoji-grid article
    {
        max-width: 100%;
        margin-bottom: 80px;
    }
}


