//PRELOADER

#preloader{
    position: fixed;
    background-color: var(--main-color);
    width: 100%;
    height: 100vh;
    z-index: $z-top;

    @include flexbox;
    align-items: center;
    justify-content: center;

    & div:before,
    & div:after {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        border-radius: 50%;
    }
    & div:before {
        background-color: var(--accent-color);
        animation: scale-1 2400ms linear infinite;
    }
    & div:after {
        background-color: var(--main-color);
        animation: scale-2 2400ms linear infinite;
    }


    @keyframes scale-1 {
        0% {
            transform: scale(0);
            z-index: 2;
        }
        50%, 100% {
            transform: scale(1);
        }
    }

    @keyframes scale-2 {
        0%, 50% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}



//ARROW 

.circle{
    width: 100px;
    height: 100px;
    padding: 2px;

    z-index: $z-back;

    position: fixed;

}

.arrow {

    &::before{
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: var(--main-color);
        border-width: 2px 2px 0 0;
        position: absolute;
        transform-origin: 50% 50%;
        &:hover{
            border-color: var(--bkg-color);
        }
    
    }

    &.down::before { 
        transform: rotate(135deg); 
        margin: -20px 0 0 -15px;

    }

    &::after {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: var(--main-color);
        position: absolute;
        transform-origin: 50% 50%;

        &:hover{
            border-color: var(--bkg-color);
        }

    }

    &.down::after { 
        width: 0;
        height: 40px;
        border-width: 0 2px 0 0;
        transform: translate(0px, -24px);
    }

    &-container{
        z-index: $z-top+100;
        width: 100vw;
        @include flexbox;
        justify-content: center;
        position: fixed;
        bottom: 40px;
        height: 100px;
        
    }
}

    //color change class

.active::before, .active::after{
        border-color: var(--bkg-color);
        @include transitions;
    }





//CIRCLE//

.circle{

    &:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content:'';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
    &:before {
        speak: none;
        line-height: 90px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
    }


    /* Effect 2 */

    &.effect:after {
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        background: var(--accent-color);
        transform: scale(0);
        transition: transform 0.2s;
    }

    /* Effect 2b */
    &.effect:hover:after {
        transform: scale(1);
        transition: transform 0.4s;
    }
}


//PAGINATION-PROJECTS
.swiper-button-next{
    transform: rotate(90);
}

//MAGNET

.magnet {
    transition: transform .3s ease;
}


//MQUERY

@media (max-width: 1280px){
    .arrow {
        &::before{
            border-color: var(--bkg-color);
        }

        &::after {
            border-color: var(--bkg-color);
        }
    }

    .circle{
        background-color: var(--accent-color);
    }
}