//-----> $TYPOGRAPHY

.main-text,h1,h2{
    @include main-text;
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.secondary-text,p,a,h3,h4,h5{
    @include secondary-text;
    font-size: 1.5rem;
    font-weight: 300;
} 

h1{
    color: var(--accent-color);
    font-size: 8rem;
}




