//SPACE Variables
$unit: 10px;
$space: $unit * 2;
$space--medium: $space * 1.5;
$padding: $unit;
$pagemaxwidth: 1024px;
$navheight: 70px;

//COLORS

//basic colors
$main-color: hsla(227, 3%, 8%, 1);
$bkg-color: hsla(54, 18%, 97%, 1);
$accent-color: hsla(68, 100%, 80%, 1);
$grey-bkg-color: hsla(60, 2%, 78%, 1);

:root{
--main-color: hsla(227, 3%, 8%, 1);
--bkg-color: hsla(54, 18%, 97%, 1);
--accent-color: hsla(68, 100%, 80%, 1);
--grey-bkg-color: hsla(60, 2%, 78%, 1);
}

//FONTS
$main-font: 'Inter', sans-serif;
$secondary-font: 'Inter', sans-serif;


$secondary-font-cursive: 'Roboto', sans-serif, cursive;
$tag-font: 'Roboto Condensed', sans-serif;
$button-font: 'Roboto Condensed', sans-serif, 300;
$fontbig: 15vw;
$fontmedium: 4vw;
$fontsmall: 2vw;

$psmall: 1.6*$unit;
$pmedium: 2.4*$unit;
$plarge: 3.6*$unit;

$hsmall: 2.5*$unit;
$hmedium: 4*$unit;
$hlarge: 7*$unit;


$psmallDesktop: 1.4*$unit;
$pmediumDesktop: 2.4*$unit;
$plargeDesktop: 3.6*$unit;



    //mquery
    $fontbig-large: 9*$unit;
    $fontmedium-large: 5*$unit;
    $fontsection-large: 4*$unit;
    $fontsmall-large: 1.5*$unit;

//z-index

$z-top: 200;
$z-medium: 100;
$z-null: 0;
$z-back: -100;