//// ABOUT HEADER ////

.about-header {
    position: relative;
    padding-bottom: 10rem;
    perspective: 1000px;
    z-index: $z-medium;

}


// / MQUERY / //

@media (max-width:768px) {
    .about-header {
        padding-bottom: 0rem;
    }
}

@media (max-width:1280px) {
    .about-header {
        padding-bottom: 0rem;
    }
}

    //IMAGE

.about-header__image {
    width: 100vw;
    height: 133.33333vw;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width:768px) {
    .about-header__image {
        position: relative;
        z-index: 1;
        width: 65vw;
        height: 86.66667vw;
        // margin-left: 17.5vw;
    }
}

@media (min-width:1280px) {
    .about-header__image {
        position: relative;
        z-index: 1;
        width: 65vw;
        height: 66.66667vw;

    }
}

    //TITLE

@media (min-width:768px) {
    .about-header__title {
        position: absolute;
        top: 35vh;
        left: 0;
        z-index: 2;
        margin-top: 0;
        margin-left: 20vw;
        // padding: 0 6rem;
        word-break: normal;
    }
}

@media (min-width:1280px) {
    .about-header__title {
        top: 50vh;
        // width: 100%;
        // min-height: 20vh;
        margin-top: 0;
        // padding: 0 10vw;
    }
}


//SECTIONS

.about-description {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    padding: 6rem 0;
    overflow: hidden;
    min-height: 100vh;
    height: 100%;
}

@media (max-width:1280px) {
    .about-description {
        width: 100%;
        z-index: 2;

        &__main{
            height: 100%;
            width: 90vw;
            // margin: 5vw;
            padding-bottom: 10vh;
        }
    }
}

.about-description__infos {
    display: flex
}

//about-content

.about-content{
    position: relative;
    padding: 4vw 0;
    display: block;
        &>*{
            display: block;
            max-width: 100vw;
        }

        &__wrapper{
            &>*{
                max-width: inherit;
            }
        }
    

    &__quote{
        font-size: 4.5rem;
        color: var(--main-color);
        padding: 4vw 0;

        &>a{
            font-size: 4.5rem;
            color: var(--main-color);
            background-color: var(--accent-color);
        }
    }
}


@media (min-width:768px) {
    .about-content {
        max-width: 100vw;
        padding: 4vw 0 !important;
        z-index: 2;

        &__wrapper{
            width: 65vw;
            margin-right: auto;
            margin-left: auto;
            max-width: 100vw;

            &>*{
                padding: 1vw 0;
                width: 100%;
            }
        }
    }
}

@media (min-width:1280px) {
    .about-content {
        padding: 10rem 0
    }
}


//INFO COLUMN

.info-column {
    display: flex;
    flex: 1
}

.info-column:not(:first-child) {
    margin-top: 4rem
}

// Align all three columns to the top on desktop
@media (min-width:768px) {
    .info-column:not(:first-child) {
        margin-top: 0;
    }
}

@media (max-width:1280px) {
    .info-column {
        flex-direction: column;

        &__title{
            min-width: 25vw;
        }
    }

    .info-column:not(:first-child) {
        margin-top: 0;
        margin-left: 5.5rem
    }
}

.info-column__title{
    color: var(--main-color);

}

@media (max-width:575px) {
    .info-column__title {
        width: 30%;
        line-height: 2.5
    }
}

.info-column__text {
    margin-left: 4rem;
    &>ul>li{
        color: var(--main-color)
    }

}

@media (min-width:768px) {
    .info-column__text {
        margin-top: 3.6rem;
        margin-left: 0
    }
}

//SLICES

.slice-infos__title{
    color: var(--main-color);
    line-height: 1.2;
    margin-top: 4vh;
}

.slice-infos__text {
    opacity: .7;
    margin-top: 4rem;
    &>p{
        text-align: justify;
        color: var(--main-color);
    }
}


.slice-infos__columns {
    display: flex;
    flex-direction: column;
    margin-top: 4vw;
}

@media (min-width:768px) {
    .slice-infos__columns {
        flex-direction: row
    }
}

// CV Download Button
.cv-download-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}

.cv-download-btn {
    display: inline-block;
    position: relative;
    padding: $padding $space;
    border: 1px solid $grey-bkg-color;
    border-radius: 50px;
    color: var(--main-color);
    font-family: $main-font;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    // Grow from center effect (matching arrow)
    &.effect:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: var(--accent-color);
        border-radius: 50px;
        transform: scale(0);
        transition: transform 0.15s ease-out;
    }

    &.effect:hover:after {
        transform: scale(1);
        transition: transform 0.2s ease-out;
    }

    &:hover {
        border-color: transparent;
        color: var(--bkg-color);
    }
}

@media (max-width: 768px) {
    .cv-download-btn {
        font-size: 2rem;
    }
}


