#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
}

.contact--message {
    position: absolute;
    left: 5vw;
    top: 15vh;

    &__main {
        font-size: 13vw;
        display: inline-block;
        max-width: 60vw;

        &-link {
            z-index: $z-top;
        }
    }

    &__text {
        width: 20vw;
        display: inline-block;
        position: relative;
        left: -3vw;
    }
}

.contact--social {
    position: absolute;
    bottom: 15vh;
    width: 100%;
    @include flexbox;
    flex-direction: column;
    align-items: center;

    &__element {
        width: 7vw;
        @include flexbox;
        justify-content: center;
        @include transitions;
        filter: grayscale(1);

        &:hover {
            filter: grayscale(0);
        }

        h2 {
            color: var(--accent-color);
            width: 40px;
        }
    }
}

.credits{
    font-size: $psmallDesktop;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: $z-top;

    text-transform: uppercase;
    // color: var(--bkg-color);
    color: var(--main-color);
    // background-color: var(--accent-color);

    &-left{
        left: 10px;
        right: auto; // prevent stretching when using left placement
    }
}

@media (max-width: 1280px) {
    #contact {
        min-height: 80vh; // Keep standard height, flexbox handles spacing
        padding-bottom: 10vh; // Add bottom padding for breathing room
        margin-top: 0vh;
    }

    .contact--message {
        top: 12vh;
        position: static;

        &__main {
            font-size: 20vw;
            max-width: 85vw;
        }
        
        &__text {
            display: block;
            left: 1vw;
            width: 60vw;
            margin-top: 3vh;

            p {
                font-size: 4vw;
            }
        }
    }

    .contact--social {
        bottom: 8vh; // Adequate space without excessive padding
        align-items: start;
    }
}

