.categories{

    @include flexbox;
    flex-direction: column;

    position: absolute;
    width: 90vw;
    margin: 10vh 5vw;
    z-index: $z-null;

.categories-items{
        display: inline-block;
        &-web{
            display: block;
        }
    }

    &>ul>li{
        &>span{
            display:inline-block
        }
        &>h2{
            font-size: 8vw;
            filter: blur(1px);
            display: inline-block;
    
            &:hover{
                filter: blur(0px);
            }
        }
    }

    &--designer{
        margin-top: 4rem;
        text-transform: lowercase;
        background-color: var(--accent-colour);
    }

}

// .messages{
//     position: absolute;
//     left: 50vw;
//     top: 60vh;
//     width: 30vw;
// }




#graphic:hover + #message-graphic{
    display: block;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}


//FLOORS//

.building{
    width: 60px;
    height: auto;
    @include flexbox;
    flex-direction: column;
    align-items: center;


    &--container{
        height: 100vh;
        position: fixed;
        right: 20px;
        @include flexbox;
        flex-direction: column;
        justify-content: center;
        z-index: $z-top;
    }
}

.floor{

    &--1{top: 0; z-index: $z-top+4;}
    &--2{top: -20px; z-index: $z-top+3;}
    &--3{top: -40px; z-index: $z-top+2;}
    &--4{top: -60px; z-index: $z-top+1;}


    width: 40px;
    height: 40px;
    position: relative;
    background: var(--accent-color);
    opacity: 0.4;
    transform: rotate(135deg) skew(20deg, 20deg);
    border: none;
    border-radius: 0;

    &:hover{
        box-shadow: 0px 0px 4px 0px var(--accent-color);
        opacity: .6;
    }

    &:active, .active{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
        opacity: 1;
    }
}



// .active{
//     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
//     opacity: 1;
// }



//MQUERY





@media (min-width:1280px){
    .message{
        position: relative;
        font-size: $pmedium;
        // display: none;

        &-description{
            position: absolute;
            right: 5vw;
            bottom: -20vh;
            width: 35vw;
            text-align: right;
        }

        &-intro{
            bottom: 1rem;
            padding: 0 0.25rem;
            &>span{
                font-weight: 500;
            }
        }
    }
}

@media (max-width:1280px){


    .categories{

        &--designer{
            font-size: 8vw;
        }

        &>ul>li{
            &>h2{
                filter: blur(0px);
            }
        }

        & > ul > li > h2{
            font-size: 10vw;
        }
    }

    .message{
        &-description{
            width: 60vw;
            padding-top: 4vh;
            text-align: left;
            font-size: 4vw;
        }
    }

    .slide-index{
        height: 100%;
    }

    p{
        font-size: 3vw;
    }
}



