.nav{
    padding: 20px;
    width: 100vw;
    z-index: $z-top;

    //FLEX
    @include flexbox;
    flex-wrap: wrap;

    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;


    &--top, &--bottom{
        position: fixed;
        width: 100%;

        &>ul{
            @include flexbox;
            width: 100%;
            justify-content: space-between;
        }
        
    }

    &--top{
        top: 0px;
    }

    &--bottom{
        bottom: 0px;
    }
}





