//// PROJECTS HEADER ////

.project-header {
    position: relative;
    padding-bottom: 10rem;
    // background-color: var(--bkg-color);
    perspective: 1000px;
    z-index: $z-medium;

    &__image {
        filter: contrast(130%);
        width: 100vw;
        height: 133.33333vw;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &__title {
        margin-top: 6rem;
        padding: 0 3.5rem;
        line-height: 1.25;
        word-break: break-all;
    }
}


// / MQUERY / //

@media (min-width:768px) {
    .project-header {
        padding-bottom: 8rem;
    }
}

@media (min-width:1280px) {
    .project-header {
        padding-bottom: 7rem;
    }
}

    //IMAGE

.project-header__image {
    width: 100vw;
    height: 133.33333vw;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (min-width:768px) {
    .project-header__image {
        position: relative;
        z-index: 1;
        width: 65vw;
        height: 86.66667vw;
        margin-left: 17.5vw;
    }
}

@media (min-width:1280px) {
    .project-header__image {
        position: relative;
        z-index: 1;
        width: 50vw;
        height: 66.66667vw;
        margin-left: 25vw;
    }
}

    //TITLE

@media (min-width:768px) {
    .project-header__title {
        position: absolute;
        top: 35vh;
        left: 0;
        z-index: 2;
        margin-top: 0;
        padding: 0 6rem;
        word-break: normal;
    }
}

@media (min-width:1280px) {
    .project-header__title {
        top: 50vh;
        width: 100%;
        min-height: 20vh;
        margin-top: 0;
        padding: 0 10vw;
    }
}


//SECTIONS

.project-description {
    position: absolute;
    display: block;
    padding: 6rem 0;
    overflow: hidden
}

@media (min-width:768px) {
    .project-description {
        width: 100%;
        padding: 8rem 0;
        z-index: 2;

        &__main{
            width: 50vw;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media (min-width:1280px) {
    .project-description {
        padding: 10rem 0
    }
}

.project-description__infos {
    display: flex
}


//INFO COLUMN

.info-column {
    display: flex;
    flex: 1
}

.info-column:not(:first-child) {
    margin-top: 4rem
}

@media (min-width:768px) {
    .info-column {
        flex-direction: column
    }

    .info-column:not(:first-child) {
        margin-top: 0;
        margin-left: 5.5rem
    }
}

.info-column__title{
    color: var(--bkg-color);
}

@media (max-width:575px) {
    .info-column__title {
        width: 30%;
        line-height: 2.5
    }
}

.info-column__text {
    margin-left: 4rem;
    &>p{
        color: var(--bkg-color)
    }

}

@media (min-width:768px) {
    .info-column__text {
        margin-top: 3.6rem;
        margin-left: 0
    }
}

//SLICES

.slice-infos__title{
    color: var(--bkg-color);
}

.slice-infos__text {
    margin-top: 4rem;
    &>p{
        color: var(--bkg-color);
    }
}


.slice-infos__columns {
    display: flex;
    flex-direction: column;
    margin-top: 10rem
}

@media (min-width:768px) {
    .slice-infos__columns {
        flex-direction: row
    }
}


