//// PROJECTS HEADER ////

.project-header {
    position: relative;
    padding-bottom: 10rem;
    // background-color: var(--bkg-color);
    perspective: 1000px;
    z-index: $z-medium;

    &__image {
        filter: contrast(130%);
        width: 100vw;
        height: 133.33333vw;
        -o-object-fit: cover;
        object-fit: cover;
    }

    &__title {
        margin-top: 6rem;
        padding: 0 3.5rem;
        line-height: 1.25;
        word-break: break-all;
    }
}


// / MQUERY / //

@media (min-width:768px) {
    .project-header {
        padding-bottom: 8rem;
    }
}

@media (min-width:1280px) {
    .project-header {
        padding-bottom: 7rem;
    }
}

    //IMAGE

@media (min-width:768px) {
    .project-header__image {
        position: relative;
        z-index: 1;
        width: 65vw;
        height: 86.66667vw;
        margin-left: 17.5vw;
    }
}

@media (min-width:1280px) {
    .project-header__image {
        position: relative;
        z-index: 1;
        width: 50vw;
        height: 66.66667vw;
        margin-left: 25vw;
    }
}

    //TITLE

@media (min-width:768px) {
    .project-header__title {
        position: absolute;
        top: 35vh;
        left: 0;
        z-index: 2;
        margin-top: 0;
        padding: 0 6rem;
        word-break: normal;
    }
}

@media (min-width:1280px) {
    .project-header__title {
        top: 50vh;
        width: 100%;
        min-height: 20vh;
        margin-top: 0;
        padding: 0 10vw;
    }
}
