html,
body {
  position: relative;
  height: 100%;
}

//WORKS 

  //swiper layout

#works{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  // overflow: hidden;

}

.swiper{
  height: inherit;
}

.slide-works{
  @include flexbox;
  align-items: center;
  // background-color: var(--main-color);
}

.swiper-pointer-events {
  touch-action: pan-y;
  @include flexbox;
  align-items: center;
  height: inherit;
}

.WorksSwiper .swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: $z-null;

  @include flexbox;
  align-items: center;

  &-wrapper{
    height: 40vh;
    display: flex;

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &-slide{
    background-position: center;
    background-size: cover;
    width: auto;
    transform: scale(0.9);



    transition: transform 0.3s;

    & img{
      height: 100%;
      // width: 100%;
      display: block;
      // max-width: 100%;
      filter: contrast(100%);
      -webkit-filter: contrast(100%);
      -moz-filter: contrast(100%);
      -ms-filter: contrast(100%);
      -o-filter: contrast(100%);
      filter: grayscale(1);
      transition: filter 0.3s;

      opacity: .35;
      transition: opacity 0.3s;

      
      width: auto;
      // max-width: 500px;
      // height: auto;
      // max-height: 450px;
    }

    &:hover{
      transform: scale(1);

      // transition: transform 0.3s;
      // transition: opacity 0.3s;
      // filter: none;
      // transform: filter(0);

      & img{
        filter: contrast(130%);
        filter: grayscale(0);
        -webkit-filter: contrast(130%);
        -moz-filter: contrast(130%);
        -ms-filter: contrast(130%);
        -o-filter: contrast(130%);
        transition: filter 0.3s;

        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }
}


//TEXT DETAILS

//TEXT ON SWIPER

.works {

    // DETAIL INFO

  &--details{
    position: relative;
    top: -250px;
    opacity: 0;
    width: 100px;
    text-transform: uppercase;
    left: 400px;
    font-family: var(--main-font);
    @include transitions;

    & .yellow-600{
      @include accent-text;
      padding-top: 20px;
    }

    &>p{
      color: var(--main-color);
      font-size: $psmall;
      letter-spacing: 2px;
    }
  }

  &:hover &--details{

    opacity: 1;
    left: 520px;
    padding-left: 10px;
    width: 100px;
    text-transform: uppercase;
    font-family: var(--main-font);
    @include transitions;
  }


  // MAIN INFO

  &--info{
    position: absolute;
    // bottom: 5px;
    opacity: 0;
    top: 300px;
    left: -150px;
    font-family: var(--main-font);
    @include flexbox;
    flex-direction: row;
    @include transitions;

    &>*{
      display: inline-block;
    }

    &>h2{
      @include accent-text;
      text-align: right;
      width: auto;
      margin-right: 20px;
    }

    &>p{
      color: var(--main-color);
      font-size: $psmall;
      text-align: left;
      width: 35vw;
    }
  }

  &:hover &--info{

    opacity: 1;
    top: 380px;
    padding-top: 20px;
    font-family: var(--main-font);
    @include transitions;
  }
}


//MAIN
.MainSwiper {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

.MainSwiper-slide {
  height: 100vh;


  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.MainSwiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// swiper-pagination

.MainSwiper .swiper{

  &-pagination{
    position: fixed;
    font-size: 0px;
    z-index: $z-top;

    &-bullet {
      text-align: center;
      line-height: 20px;
      font-size: 0px;
      color: #000;
        
      width: 40px;
      height: 40px;
      position: relative;
      background: var(--accent-color);
      opacity: 0.4;
      transform: rotate(135deg) skew(20deg, 20deg);
      border: none;
      border-radius: 0;
    }

    &-bullet:hover{
      box-shadow: 0px 0px 4px 0px var(--accent-color);
      opacity: .6;
      @include transitions;
    }

    body &-bullet-active, body &-bullet:focus{
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
        opacity: 1;
        @include transitions;
    }
  }
}




//swiper pagination vertical

.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  right: 40px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, -20px) 0;
}

//.swiper pagination nav

.MainSwiper .swiper-pagination-nav{
  @include secondary-text;
  padding: 20px;
  width: 100vw;
  z-index: $z-top;

  .pagination-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
  } 
  .pagination-nav .swiper-pagination-bullet{
      width: auto;
      border-radius: 0px;
      height: auto;
      background-color: #fff;
      padding: 5px;
      color: #000;
      opacity: 1;
      background: rgba(0,0,0,0.2);
      }
  .pagination-nav .swiper-pagination-bullet-active {
    color:#fff;
  }
}


//MQUERY

@media (max-width:1280px) {

  .WorksSwiper .swiper{
    width: 100%;
    height: 100%;
    overflow: hidden;

    &-wrapper{
      height: 100%;
      width: 100%;
    }

    &-slide{
      height: 100%;
      width: 90vw;
      overflow: hidden;
      display: block;
      transform: scale(1);
      justify-content: center;
      padding: 10vh 0;


      &:hover{
        height: 100%;
        width: 90vw;
        overflow: hidden;
        display: block;
        transform: scale(1);
        justify-content: center;
        padding: 10vh 0;

        & img{
          filter: contrast(130%);
          filter: grayscale(0);
          filter: brightness(0.5);
        }
      }

      & img{
        filter: grayscale(0);
        filter: brightness(0.5);
        opacity: 1;
        transform: scale(1);
        width: auto;
        height: 70vh;
      }
    }
  }

  .works--info{
    width: 90vw;
    position: absolute;
    // bottom: 5px;
    opacity: 1;
    top: 300px;
    left: 0px;
    font-family: var(--main-font);
    @include flexbox;
    flex-direction: column;
    margin-left: 2vw;

    &>h2{
      text-align: left;
      margin-bottom: 2vh;
    }

    &>*{
      text-align: left;
    }
  }

  .works:hover .works--info{

    top: 300px;
  }

  .swiper-slide{
    margin: 10vh 5vw;
  }

  .slide-works{
    margin: 0;
  }
}




