//PRELOADER

#preloader{
    position: fixed;
    background-color: $main-color;
    width: 100%;
    height: 100vh;
    z-index: 100;

    @include flexbox;
    align-items: center;
    justify-content: center;

    & div:before,
    & div:after {
        content: '';
        width: 60px;
        height: 60px;
        position: absolute;
        border-radius: 50%;
    }
    & div:before {
        background-color: $accent-color;
        animation: scale-1 2400ms linear infinite;
    }
    & div:after {
        background-color: $main-color;
        animation: scale-2 2400ms linear infinite;
    }


    @keyframes scale-1 {
        0% {
            transform: scale(0);
            z-index: 2;
        }
        50%, 100% {
            transform: scale(1);
        }
    }

    @keyframes scale-2 {
        0%, 50% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
}





//SUPPORT FOR BROWSERS

// @-moz-keyframes scale-1 {
//     0% {
//         transform: scale(0);
//         z-index: 2;
//     }
//     50%, 100% {
//         transform: scale(1);
//     }
// }
// @-webkit-keyframes scale-1 {
//     0% {
//         transform: scale(0);
//         z-index: 2;
//     }
//     50%, 100% {
//         transform: scale(1);
//     }
// }
// @-o-keyframes scale-1 {
//     0% {
//         transform: scale(0);
//         z-index: 2;
//     }
//     50%, 100% {
//         transform: scale(1);
//     }
// }

// @-moz-keyframes scale-2 {
//     0%, 50% {
//         transform: scale(0);
//     }
//     100% {
//         transform: scale(1);
//     }
// }
// @-webkit-keyframes scale-2 {
//     0%, 50% {
//         transform: scale(0);
//     }
//     100% {
//     transform: scale(1);
//     }
// }
// @-o-keyframes scale-2 {
//     0%, 50% {
//         transform: scale(0);
//     }
//     100% {
//         transform: scale(1);
//     }
// }


//ARROW

.arrow {

    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-block;

    &-container{
        width: 100vw;
        @include flexbox;
        justify-content: center;
        position: fixed;
        bottom: 40px;
    }

    &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: #000;
        border-width: 2px 2px 0 0;
        position: absolute;
        transform-origin: 50% 50%;
    }
    
    &.down::before { 
        transform: rotate(135deg); 
        margin: -20px 0 0 -15px;
    }

    
    &::after {
        content: '';
        display: block;
        top: 50%;
        left: 50%;
        border-style: solid;
        border-color: $main-color;
        position: absolute;
        transform-origin: 50% 50%;
    }

    &.down::after { 
        width: 0;
        height: 40px;
        border-width: 0 2px 0 0;
        transform: translate(0px, -23px);
    }
    

    &.circle {
        background: $accent-color;
        border-radius: 50px;
    }
    
    &.debug {
            outline: 1px solid darkblue;
        
            &::before {
                outline: 1px solid red;
            }
        }
    }