//-----> $TYPOGRAPHY

.main-text,h1,h2{
    @include main-text;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.secondary-text,p,a,h3,h4,h5{
    @include secondary-text;
    font-size: 1.5rem;
    font-weight: 300;
} 

a{
    box-shadow: inset 0 0 0 0 $accent-color;
    padding: 0 .25rem;
    transition: box-shadow .3s ease-in-out;
  }
  a:hover {
    box-shadow: inset 100px 0 0 0 $accent-color;
  }



